<a href="https://colab.research.google.com/github/kay-bow/Snippets/blob/main/Kayleigh_Penhall_SQLite_introduction_ps3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Run this first to download the database
import os.path
if not os.path.isfile('sampledata/pandas/ps3.db'):
  !rm -rf sampledata
  !git clone -qq https://github.com/awchisholm/sampledata.git

In [ ]:
# https://docs.python.org/3/library/sqlite3.html for more details

# This imports the sqlite python library 
import sqlite3

# This makes nice looking prints
from tabulate import tabulate

# This connects to the ps3 database which is a single file
con = sqlite3.connect('sampledata/pandas/ps3.db')

# This gets a cursor into the database - think of this as a pointer
cur = con.cursor()

# Some queries - we will choose one to try
q1 = "select * from ps3"
q2 = "select * from ps3 where Year = 2006"
q3 = "select Genre from ps3 where Year = 2006"
q4 = "select distinct Year from ps3"
q5 = "select count(distinct Year) from ps3"
q6 = "select * from ps3 where Year = 2006 order by Global_Sales desc"
q7 = "select * from ps3 where Year = 2011 order by Global_Sales desc"
q8 = "select *, 100*EU_Sales/Global_Sales as EUPercent from ps3"
q9 = "select *, 100*EU_Sales/Global_Sales as EUPercent from ps3 where Year = 2011 and Global_Sales > 1 order by Global_Sales desc"
q10 = "select * from ps3 order by Global_Sales desc limit 1"
q11 = "select sum(Global_Sales) as TotalSales from ps3 where Publisher like '%Activision%' and Genre = 'Shooter'"
q12 = "select sum(Global_Sales) as TotalSales from ps3 where Publisher = 'Activision' and Name like '%Call of Duty%'"

# Select some data using one of the queries
cur.execute(q5)

# Fetch all the results
rows = cur.fetchall()

print(tabulate(rows))

# Close the connection if we are done with it.
con.close()

--
11
--